/* Hero section start */
.hero {
  width: 100%;
  height: 100vh;

  position: relative;

  &__background-container {
    width: 100%;
    height: 80vh;
    padding-top: var(--header-height);

    background-image: url('../assets/images/archaiologikos_avdira.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-attachment: fixed;
  }

  &__card-container {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
}
/* Hero section end */

/* Welcome section start */
.welcome {
  // padding-block: var(--pad-block-medium);

  &__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 4rem;

    width: 100%;
  }
}
/* Welcome section end */

/* News section start */
.news {
  // padding-block: var(--pad-block-medium);

  &__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
/* News section end */

/* Meetings section start */
.meetings {
  &__intro-wrapper {
    padding-bottom: 0;
  }

  &__slider {
    position: relative;
    overflow: hidden;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    z-index: 1;
  }

  &__swiper-button-prev {
    left: 3rem;
  }

  &__swiper-button-next {
    right: 3rem;
  }
}
/* Meetings section end */

/* Events section start */
.events {
  &__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__calendar {
    flex-shrink: 0;
    position: relative;
    z-index: 1;
  }

  &__img-wrapper {
    margin-left: -3rem;
    min-height: 30rem;
    width: 100%;

    background-image: url('../assets/images/events_calendar.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
  }

  &__link {
    position: absolute;
    bottom: 6rem;
    left: 15%;
  }
}
/* Events section end */

/* Quick-access section start */
.quick-access {
  &__swiper {
    position: relative;
  }

  &__slider-card {
    height: 100%;
    width: 100%;

    overflow: hidden;

    & img {
      width: 100%;
    }
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    z-index: 1;
  }

  &__swiper-button-prev {
    left: 3rem;
  }

  &__swiper-button-next {
    right: 3rem;
  }
}
/* Quick-access section end */
