/* Header start */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding-block: 1rem;

  background-color: var(--color-white);

  &__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    width: fit-content;
    margin-left: 0.5rem;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5rem;
    aspect-ratio: 1;
    background-image: url('../assets/icons/logo_background.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__logo-title {
    font-size: 1.5rem;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  &__nav-link {
    padding: 0.5em;
    font-family: var(--ff-roboto-slab);
    font-weight: 600;

    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100%;
      height: 100%;

      background-color: var(--color-secondary);
      transform: translateX(-50%) scaleX(0);
      transform-origin: center;

      z-index: -1;

      transition: transform 0.35s ease-in-out;
    }

    &:hover {
      &::before {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }

  &__icon-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__icon-item {
    display: flex;
    align-items: center;
    & svg {
      fill: var(--color-primary);
    }
  }

  &__search {
    & svg {
      stroke: var(--color-primary);
    }
  }

  &__weather {
  }

  &__map {
  }

  &__ham-menu-open {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--header-height);
    aspect-ratio: 1;
    background-color: var(--color-primary);

    & .line-center,
    & .line-top,
    & .line-bottom {
      height: 3px;

      background-color: var(--color-white);
      transform-origin: center center;

      transition: all 0.5s ease-in-out;

      & .line-center {
        width: 20%;
      }

      & .line-top,
      & .line-bottom {
      }
    }

    &:hover .line-center {
      transform: scaleX(2);

      &::before,
      &::after {
        transform: translateX(-50%) scaleX(0.35);
      }
    }
  }
}
/* Header end */

/* Hero section start */
.hero {
  width: 100%;
  height: 100vh;

  position: relative;

  &__background-container {
    width: 100%;
    height: 75vh;
    padding-top: var(--header-height);

    background-image: url('../assets/images/archaiologikos_avdira.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-attachment: fixed;
  }

  &__card-container {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    z-index: 5;
  }
}
/* Hero section end */

/* Welcome section start */
.welcome {
  // padding-block: var(--pad-block-medium);

  &__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 4rem;

    width: 100%;
  }
}
/* Welcome section end */

/* News section start */
.news {
  // padding-block: var(--pad-block-medium);

  &__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
/* News section end */

/* Meetings section start */
.meetings {
  &__intro-wrapper {
    padding-bottom: 0;
  }

  &__slider {
    position: relative;
    overflow: hidden;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    z-index: 10;
  }

  &__swiper-button-prev {
    left: 3rem;
  }

  &__swiper-button-next {
    right: 3rem;
  }
}
/* Meetings section end */

/* Events section start */
.events {
  &__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__calendar {
    flex-shrink: 0;
    position: relative;
    z-index: 10;
  }

  &__img-wrapper {
    margin-left: -3rem;
    min-height: 30rem;
    width: 100%;

    background-image: url('../assets/images/events_calendar.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
  }

  &__link {
    position: absolute;
    bottom: 6rem;
    left: 15%;
  }
}
/* Events section end */

/* Quick-access section start */
.quick-access {
  &__swiper {
    position: relative;
  }

  &__slider-card {
    height: 100%;
    width: 100%;

    overflow: hidden;

    & img {
      width: 100%;
    }
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    z-index: 10;
  }

  &__swiper-button-prev {
    left: 3rem;
  }

  &__swiper-button-next {
    right: 3rem;
  }
}
/* Quick-access section end */

/* Footer start */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;

  min-height: 40vh;
  padding: 3rem 3rem 1rem;
  background-color: var(--color-primary);

  &__logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__logo-title {
    font-size: 1.5rem;
    color: var(--color-white);
  }

  &__nav {
    height: 20rem;
  }

  &__link-list {
    display: grid;
    grid-template-areas:
      'useful contact about social'
      'policy policy policy policy';

    height: 100%;
    column-gap: 4rem;
  }

  &__useful {
    grid-area: useful;
  }

  &__contact {
    grid-area: contact;
  }

  &__about {
    grid-area: about;
  }

  &__social {
    grid-area: social;
  }

  &__policy {
    grid-area: policy;
    align-self: end;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;

    margin-left: 1rem;
  }

  &__list-item:not(:last-child) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    margin-left: 1rem;
  }

  &__item-title {
    margin-bottom: 1.5rem;
    font-family: var(--ff-roboto-slab);
    font-weight: 700;
    color: var(--color-white);
  }

  &__link {
    color: var(--color-white);
  }
}
/* Footer end */
