/* Home page general layout start */
.header {
  position: fixed;
  inset: 0;
  height: var(--header-height);

  background-color: cadetblue;
  opacity: 0.5;

  z-index: 100;
}

.aside {
  position: fixed;
  top: var(--header-height);

  height: calc(100vh - var(--header-height));
  width: var(--header-height);

  opacity: 0.5;

  &--left {
    left: 0;
    background-color: darkgoldenrod;
  }

  &--right {
    right: 0;
    background-color: brown;
  }
}

.main {
  // position: relative;
  // z-index: 2;

  // background-color: var(--color-white);
}

.parallax-wrapper {
  height: 100%;
  width: calc(100% - (var(--header-height) * 2));

  overflow-x: hidden;
  overflow-y: auto;
  // perspective: 100px;

  margin: 0 auto;

  position: relative;
}

/* Home page general layout end */
